.btn-header {
  padding: 8px 16px;
  background-color: $gray-100;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $green-400;
  border: 1px solid $green-300;

  &:hover {
    color: $green-400;
    background-color: $green-100;
  }

  &:disabled {
    color: $gray-300;
    background-color: $gray-100;
    border-color: $gray-100;
  }
}
