.search-list {
  position: absolute;
  width: 425px;
  background-color: $gray-100;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  border-radius: 8px;
  top: 36px;
  bottom: 36px;
  left: 32px;

  &-input,
  &-result {
    padding-left: 32px;
    padding-right: 32px;
  }

  &-input {
    background-color: $gray-100;
  }
}
