.quantity-card {
  display: inline-block;
  width: 170px;
  height: 72px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $green-100;
  color: $green-500;

  &-title {
    margin-left: 4px;
    font-size: $font-size-sm;
  }

  &-value {
    text-align: center;
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
  }

  &-limited {
    background-color: $red-100;
    color: $red-600;
  }

  &-disabled {
    background-color: $gray-200;
    color: $gray-400;
  }
}

.state {
  display: inline-block;
  border-radius: 6px;
  border: 1px solid black;
  padding: 6px 12px;
  background-color: $gray-100;
  font-size: $font-size-sm;
  border-color: $orange-300;
  color: $orange-500;

  &-limited {
    border-color: $red-300;
    color: $red-400;
  }

  &-disabled {
    border-color: $gray-300;
    color: $gray-400;
  }
}

.distance {
  display: inline-block;
  color: $gray-500;
  font-size: $font-size-sm;
}

.btn-header {
  padding: 8px 16px;
  background-color: $gray-100;
  border-radius: 8px;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $green-400;
  border: 1px solid $green-300;

  &:hover {
    color: $green-400;
    background-color: $green-100;
  }

  &:disabled {
    color: $gray-300;
    background-color: $gray-100;
    border-color: $gray-100;
  }
}

.station-card {
  border: 1px solid $primary;
  width: 361px;
  height: 176px;

  &-title {
    color: $green-500;
    font-weight: $font-weight-bold;
  }
}
